{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <div class="text-center mb-4">
        <img class="mb-3" src="{% static 'icon.jpg' %}" alt="Monkey Pox Logo" width="120" height="80">
        <h1 class="h3 mb-3 font-weight-bold">Password Reset</h1>
        <p class="lead">Please enter your email to reset your password:</p>
      </div>
      <div class="card p-4 shadow">
        <form method="post" action="{% url 'password_reset' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_email" class="form-label">Email:</label>
            <input type="email" name="email" autocomplete="email" maxlength="254" required class="form-control" id="id_email">
          </div>
          <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Reset Password</button>
        </form>
      </div>
      <div class="text-center mt-3">
        <p>Remember your password? <a href="{% url 'login' %}">Log In Here</a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}




